<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bug详情</title>
    <script type="text/javascript" src="{{ url_for('static',filename='js/jquery-3.4.1.min.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static',filename='layui/layui.js') }}" charset="utf-8"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='layui/css/layui.css') }}" media="all">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/cssutil.css') }}" media="all">
</head>
<body>
<h1 class="h1">Bug详情</h1>

<form class="layui-form bugform " id="bugform">

    <div class="layui-row">
        <div class="layui-col-md3">
            <div class="layui-form-item">
                <label class="layui-form-label">客户端类型</label>
                <div class="layui-input-block">

                    <select id="client_type" name="client_type" lay-verify="required" lay-filter="client_type">
                        <option value="{{bugDetail.client_type}}">{{bugDetail.client_type_name}}</option>
                        {% for clent in client_list %}
                        <option value="{{clent.id}}">{{clent.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-col-md3">
            <div class="layui-form-item">
                <label class="layui-form-label">Bug分类</label>
                <div class="layui-input-block">

                    <select id="belong_bug_sort" name="belong_bug_sort" lay-verify="required">
                        <option value="{{bugDetail.belong_bug_sort}}">{{bugDetail.belong_bug_sort_name}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-col-md3">
            <div class="layui-form-item">
                <label class="layui-form-label">产品</label>
                <div class="layui-input-block">
                    <select id="belong_project" name="belong_project" lay-verify="required" lay-filter="belong_project">
                        <option value="{{bugDetail.belong_project}}">{{bugDetail.belong_project_name}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-col-md3">
            <div class="layui-form-item">
                <label class="layui-form-label">市场</label>
                <div class="layui-input-block">
                    <select id="market" name="market" lay-verify="required" lay-search>
                        <option value="{{bugDetail.market}}">{{bugDetail.market_name}}</option>
                        {% for market in market_list %}
                        <option value="{{market.id}}">{{market.market_name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-col-md3">
            <div class="layui-form-item">
                <label class="layui-form-label">处理状态</label>
                <div class="layui-input-block">
                    <select id="solve_state" name="solve_state" lay-verify="required">
                        <option value="{{bugDetail.solve_state}}">{{bugDetail.solve_state_name}}</option>
                         {% for deal_state in solve_state_list %}
                        <option value="{{deal_state.id}}">{{deal_state.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-col-md3">
            <div class="layui-form-item">
                <label class="layui-form-label">处理人</label>
                <div class="layui-input-block">
                     <select id="solve_person" name="solve_person" lay-verify="required">
                        <option value="{{bugDetail.solve_person}}">{{bugDetail.solve_person_name}}</option>
                         {% for solve_people in solve_people_list %}
                            <option value="{{solve_people.id}}">{{solve_people.username}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-col-md3">
            <div class="layui-form-item">
                <label class="layui-form-label">反馈时间</label>
                <div class="layui-input-block">
                    <input type="text" id="submit_time" name="submit_time" disabled required lay-verify="required"
                           value="{{bugDetail.submit_time}}"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        {% if bugDetail.solve_state==2%}
        <div class="layui-col-md3">
            <div class="layui-form-item">
                <label class="layui-form-label">驳回原因</label>
                <div class="layui-input-block">
                    <input type="text" id="reject_reason" name="reject_reason" required lay-verify="required"
                           value="{{bugDetail.reject_reason}}"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        {% else %}
        <div class="layui-col-md3">
            <div class="layui-form-item">
                <label class="layui-form-label">版本号</label>
                <div class="layui-input-block">
                    <input type="text" id="version" name="version" required lay-verify="required"
                           value="{{bugDetail.version}}"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="layui-row">
        <div class="layui-col-md6">
            <div class="layui-form-item">
                <label class="layui-form-label">Bug标题</label>
                <div class="layui-input-block">
                    <input type="text" id="bug_title" name="bug_title" required lay-verify="required"
                           value="{{bugDetail.bug_title}}"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">Bug详细内容</label>
                <div class="layui-input-block">
                    <textarea id="bug_content" name="bug_content"
                              class="layui-textarea">{{bugDetail.bug_content}}</textarea>
                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-form-item">
                <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">解决办法</label>
                <div class="layui-input-block">
                    <textarea id="solve_method" name="solve_method"
                              class="layui-textarea">{{bugDetail.solve_method}}</textarea>
                </div>
            </div>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            {% if canEdit=='1'%}
            <button class="layui-btn" lay-submit lay-filter="update">提交修改</button>
            {%endif%}
        </div>
    </div>
</form>

<script>
layui.use('form', function(){
  var form = layui.form;
  if({{canEdit}}==0){
   $("#client_type").attr("disabled","disabled");
  $("#market").attr("disabled","disabled");
  $("#bug_content").attr("disabled","disabled");
  $("#bug_title").attr("disabled","disabled");
  $("#reject_reason").attr("disabled","disabled");
  $("#belong_project").attr("disabled","disabled");
 $("#belong_bug_sort").attr("disabled","disabled");
  $("#solve_state").attr("disabled","disabled");
   $("#solve_person").attr("disabled","disabled");
     $("#solve_state").attr("disabled","disabled");
    $("#solve_person").attr("disabled","disabled");
     $("#version").attr("disabled","disabled");
    form.render('select');
  }
//监听提交
  form.on('submit(update)', function(data){

        $.ajax({
                type: "post",
                contentType:"application/string",
                dataType:"json",
                async:false,
                url : "update?client_type="+data.field.client_type+
                "&belong_bug_sort="+data.field.belong_bug_sort+
                "&market="+data.field.market+
                "&bug_content="+data.field.bug_content+
                "&bug_title="+data.field.bug_title+
                "&reject_reason="+data.field.reject_reason+
                "&belong_project="+data.field.belong_project+
                "&solve_state="+data.field.solve_state+
                "&solve_person="+data.field.solve_person+
                "&version="+data.field.version+
                "&solve_method="+data.field.solve_method+
                 "&bug_id="+"{{bugDetail.bug_id}}",
                success: function (data) {
                    layer.alert(data.msg,
                 function () {
                    window.location.href="../bugDetail/{{bugDetail.bug_id}}";
                });
              	}
           	});
    return false;
  });
  //监听选择框选择
  form.on('select(client_type)', function(data){
    $.ajax({
                type: "post",
                contentType:"application/string",
                dataType:"json",
                async:false,
                url : "../upload/getprojectlist/"+data.value,
                success: function (data) {
                    project_list=data.project_list;
                    $("#belong_project").empty();
                    $("#belong_project").append("<option value=''>请选择产品</option>");
                    for(var i = 0; i < project_list.length; i++) {
						if(project_list[i].project_id=={{bugDetail.belong_project}}){
						$("#belong_project").append("<option value='" + project_list[i].project_id + "' selected>" + project_list[i].project_name + "</option>");
						}else{
						$("#belong_project").append("<option value='" + project_list[i].project_id + "' >" + project_list[i].project_name + "</option>");
						}

					}

                    bug_sort_list=data.bug_sort_list;

                    $("#belong_bug_sort").empty();
                    $("#belong_bug_sort").append("<option value=''>请选择Bug分类</option>");
                    for(var i = 0; i < bug_sort_list.length; i++) {
                        if(bug_sort_list[i].sort_id=={{bugDetail.belong_bug_sort}}){
						$("#belong_bug_sort").append("<option value='" + bug_sort_list[i].sort_id + "' selected>" + bug_sort_list[i].sort_name + "</option>");
						}else{
						$("#belong_bug_sort").append("<option value='" + bug_sort_list[i].sort_id + "'>" + bug_sort_list[i].sort_name + "</option>");
						}
					}
					form.render('select');
              	}
           	});
    });


  });

</script>
</body>
</html>