.fontsize20 {
	font-size: 20px;
}
.h1{
    font-size: 30px;
    margin-top:30px;
    text-align: center;
    margin-bottom:30px;
}
.swiper-container {
    height: 30px;
}
.bugtable{
     width:1100px;
     margin-left:100px;
     margin-top:30px;
}
.bugform{
     width:1100px;
     margin-left:100px;
}
.a{
    color:#00BFFF;
}
.adminform{
     width:500px;
     margin-left:300px;
}